@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Lora&family=Outfit:wght@300&display=swap');


html {
    font-family: 'Outfit', sans-serif;
}

h1 {
    font-family: 'Lora', serif;
}

.band-logo {
    font-family: 'Lora', serif;
}

.nav-link active {
    color: #41724d;
}